/* layout */

.form-label {
  font-size: 16px;
  font-weight: 700;
}

/* 맨 위에 My Todo List, React */

/* 제목, 내용, 추가하기 */
.add-form {
  background-color: #eee;
  padding: 30px;
  border-radius: 12px;
  margin: 0 auto;
  justify-content: space-between;
}

.add-form,
.input-container {
  align-items: center;
  display: flex;
  gap: 20px;
}

.add-title-content {
  width: 240px;
  height: 40px;
  padding: 0 24px;
  border-radius: 12px;
  border: none;
}

.add-button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: teal;
  color: #eee;
}

/* 카드 컨테이너 */
.list-title {
  padding: 0 24px;
}

.todo-container {
  width: 270px;
  border: 4px solid teal;
  border-radius: 12px;
  padding: 12px 24px 24px;
}

/* list 카드 추가할 때 가로 정렬 */
.list-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 24px;
}

/* 삭제, 완료 버튼 */
.button-set {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.button {
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 50%;
}

.todo-delete-button {
  background-color: #fff;
  border: 2px solid red;
}

.todo-complete-cancel-button {
  background-color: #fff;
  border: 2px solid green;
}
